@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');

@font-face {
    font-family: SonderFont;
    src: url(/fonts/SonderFont.ttf);
}

body{
  margin:0;
  font-family: SonderFont, serif;
  font-weight:;
  color:#333;
  width: 100%;
  height:100%;
}

#particles-js{
    height: 100%;
    background-color: #202124;
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
}

#logo {
  padding:30px;
  position: absolute;
  height: 150px;
  width: 150px;
  top:40%;
  left:42%;

}

h1 {
  font-size: 7em;
  color: white;
  position:absolute;
  top:30%;
  left:30%;
}
h2 {
  font-size: 2.5em;
  color: white;
  position:absolute;
  top:70%;
  left:42.5%;
}


@media only screen and (max-width: 601px) {

  #particles-js{
      height: 100%;
      width: 100%;
      background-color: #202124;
      /*background-image: url('');*/
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
  }

  #logo {
    padding:30px;
    position: absolute;
    height: 100px;
    width: 100px;
    top:40%;
    left:32%;
  }

  h1 {
    font-size: 45px;
    color: white;
    position:absolute;
    top:35%;
    left:10%;
  }
  h2 {
    font-size: 40px;
    color: white;
    position:absolute;
    top:65%;
    left:24%;
  }

}

@media only screen and (min-width: 700px) and  (max-width: 900px) {

  #particles-js{
      height: 100%;
      width: 100%;
      background-color: #202124;
      /*background-image: url('');*/
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
  }

  #logo {
    padding:30px;
    position: absolute;
    height: 150px;
    width: 150px;
    top:40%;
    left:42%;
  }

  h1 {
    font-size: 100px;
    color: white;
    position:absolute;
    top:35%;
    left:15%;
  }
  h2 {
    font-size: 80px;
    color: white;
    position:absolute;
    top:65%;
    left:30%;
  }

}
